<div class="p-4 border rounded-md">
  <h2 class="font-bold mb-2">o Realiza una busqueda con imagen</h2>

  <label for="fileUpload"
    class="flex items-center gap-2 border p-2 rounded w-full border-primary cursor-pointer hover:bg-gray-100">
    <!-- Icono (ej: de Heroicons o FontAwesome) -->
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-primary" fill="none" viewBox="0 0 24 24"
      stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M4 16v1a2 2 0 002 2h12a2 2 0 002-2v-1M12 12V4m0 8l-3-3m3 3l3-3" />
    </svg>

    <span>Subir imagen</span>
  </label>

  <input id="fileUpload" type="file" accept="image/jpeg, image/png" class="hidden" (change)="onFileSelected($event)" />


  <button class="mt-2 px-4 py-2 bg-blue-600 text-white rounded disabled:opacity-50"
    [disabled]="!selectedFile || loading" (click)="onUpload()">
    {{ loading ? 'Procesando imagen esto tomará un poco...' : 'Subir' }}
  </button>

<!-- todo agregar una variable de entorno para mostrar los resultados de la imagen analizada-->
  @if (response && false) {
  <div class="mt-4 p-3 border rounded bg-gray-50">
    <p><strong>Caption:</strong> {{ response.caption }}</p>
    <p><strong>Respuestas:</strong></p>
    <ul class="list-disc pl-5">
      @for (ans of response.vqa_answers; track ans) {
      <li>{{ ans }}</li>
      }
    </ul>
  </div>
  }

  @if (error) {
  <div class="mt-4 text-red-600">
    {{ error }}
  </div>
  }
</div>